body {
    background-color: #f9f8fd;
    height: 100vmin;
}

.container {
    
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header, .rulesTitle {
    color: #967E76;
    font-size: 5vmin;
    padding: 1vmin;
}

#message {
    font-size: 4vmin;
    color: #B7C4CF;
    padding: 1vmin;
}

#winCombo {
    display: none;
    justify-content: justify-between;
    align-items: center;
    margin: 1vmin;
}

#winCombo > div {
    height: 3vmin;
    width: 3vmin;
    margin: 1vmin;
    border: 2px solid gray;
    border-radius: 50%;
}

#board {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(10, 1fr);
}

.boardRow {
    display: flex;
    justify-content: space-between;
    margin: 0.5vmin 0;
}

.mainCell {
    display: flex;
    justify-content: justify-between;
    margin-right: 1vmin;
}

.mainCell > div {
    position: relative;
    height: 3vmin;
    width: 3vmin;
    margin: 0.5vmin 1vmin;
    border: 2px solid gray;
    border-radius: 50%;
}


.sideCell {
    display: flex;
    justify-content: justify-between;
    align-items: center;
}

.sideCell > div {
    height: 1vmin;
    width: 1vmin;
    margin: 0.3vmin;
    border: 2px solid gray;
    border-radius: 50%;
}



.cellDisplayNone {
    display: none;
}

.cellDisplay {
    display: flex;
}

.cellHover:hover{
    background-color:#EEE3CB;
}

#colorBox {
    display: none;
    position: absolute;
    left: -3.5vmin;
    bottom: -7.5vmin;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 10vmin;
    border: 1px solid gray;
    border-radius: 12px;
    background-color: white;
    z-index: 1;
}

#colorBox > div {
    height: 2vmin;
    width: 2vmin;
    margin: 0.5vmin 0.2vmin;
    border: 1px solid gray;
    border-radius: 50%;
}


/* Footer buttons */

#buttonContainer {
    margin-top: 2vmin;
}

#buttonContainer > button {
    border-radius: 12px;
    border: 1px solid gray;
    background-color: white;
    font-size: 2.5vmin;
    color: gray;
    padding: 0.5vmin 1.5vmin;
    margin: 0 1.5vmin;
}

#buttonContainer > button:hover {
    background-color: #D7C0AE;
    color: white;
}



/* Check button */


.checkButton {
    border-radius: 12px;
    border: 1px solid gray;
    background-color: white;
    font-size: 2vmin;
    color: gray;
    padding: 0.2vmin 1.2vmin;
}

.checkButton:hover {
    background-color: #D7C0AE;
    color: white;
}

.disabledButton {
    pointer-events: none;
    opacity: 0.2;
  }

#ruleDiv.showRule {
    display: flex;
}

/* Rules */

#ruleDiv {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: gray;
    margin: 2vmin;
    border-top: 2px #B7C4CF dotted;
    border-bottom: 2px #B7C4CF dotted;
}

.rulesTitle {
    margin-top: 1.5vmin;
}

.rulesContent {
    padding: 2vmin;
    list-style-type: square;
    line-height: 3vmin;
    font-size: 2vmin;
    margin-top: 0;
}